@import "../../../constants/colors.css";

.create-tweet__container {
    margin-left: 1rem !important;
    margin-right: 0 !important;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.create-tweet__container h1 {
    margin: 0 0 1rem 0;
    font-size: 1.25rem;
    font-weight: 400;
}

.create-tweet__form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.create-tweet__text-input-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    /* background-color: var(--color1); */
    border-radius: 20px;
    margin-bottom: 1rem;
    /* background: linear-gradient(#e66465, #9198e5); */
    background-image: linear-gradient(
        120deg,
        hsl(0deg 0% 16%) 0%,
        hsl(60deg 0% 16%) 8%,
        hsl(60deg 0% 15%) 15%,
        hsl(60deg 0% 15%) 22%,
        hsl(60deg 1% 14%) 29%,
        hsl(60deg 1% 13%) 36%,
        hsl(60deg 1% 13%) 43%,
        hsl(60deg 1% 12%) 51%,
        hsl(60deg 1% 12%) 59%,
        hsl(60deg 1% 11%) 68%,
        hsl(60deg 2% 11%) 79%,
        hsl(60deg 2% 10%) 100%
    );
}

.create-tweet__input {
    flex: 1;
    border: none;
    background-color: inherit;
    border-radius: inherit;
    font-size: 1.7rem;
    font-family: inherit;
    padding: 1rem;
    resize: none;
    color: #d1c8c8;
}

.create-tweet__input:focus {
    outline: none;
    background-color: inherit;
    color: #d1c8c8;
}

textarea::-webkit-input-placeholder {
    color: #3a3a3a;
}

textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #3a3a3a;
}

textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #3a3a3a;
}

textarea:-ms-input-placeholder {
    color: #3a3a3a;
}

textarea::placeholder {
    color: #3a3a3a;
    /* color: #141414; */
    /* color: #e9e9e9; */
}

.create-tweet__input-bottom-container {
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.create-tweet__remaining-chars {
    margin: auto 0 1rem 1rem;
    color: #3a3a3a;
}

.error-text {
    color: #c24343;
    font-weight: bold;
}

.create-tweet__buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    height: 3.5vh;
}

.create-tweet__buttons-container button {
    border: none;
    cursor: pointer;
    border-radius: 0.7rem;
    background-color: var(--color4);
}

.create-tweet__button-settings {
    padding: 0.4rem 0.45rem 0.4rem 0.5rem;
    margin-right: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.create-tweet__button-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.create-tweet__button-dropdown svg {
    width: 2rem;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

@media (max-width: 62.5em) {
    .create-tweet__container {
        margin-right: 1rem;
    }
}
