.three-components-container__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 0;
}

.three-components-container__css-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 7fr 3fr;
    height: 100%;
}

@media (max-width: 95em) {
    .three-components-container__container {
        flex: 2.5;
    }
}

@media (max-width: 62.5em) {
    .three-components-container__container {
        flex: 4;
        background-color: red !important;
    }

    .three-components-container__css-grid {
        flex-direction: column;
        flex: 6;
    }
}
