@import "../../../constants/colors.scss";

.post__container {
    display: flex;
    padding: 0 0 1.2rem 0;
    margin-bottom: 0.8rem;
    flex-basis: 6rem;
    flex-shrink: 0;
    /* background-color: var(--color2); */
    /* background-color: var(--color1); */
    /* background-image: linear-gradient(
        120deg,
        hsl(0deg 0% 16%) 0%,
        hsl(60deg 0% 16%) 8%,
        hsl(60deg 0% 15%) 15%,
        hsl(60deg 0% 15%) 22%,
        hsl(60deg 1% 14%) 29%,
        hsl(60deg 1% 13%) 36%,
        hsl(60deg 1% 13%) 43%,
        hsl(60deg 1% 12%) 51%,
        hsl(60deg 1% 12%) 59%,
        hsl(60deg 1% 11%) 68%,
        hsl(60deg 2% 11%) 79%,
        hsl(60deg 2% 10%) 100%
    ); */
    background-image: linear-gradient(
        120deg,
        hsl(0deg 0% 11%) 0%,
        hsl(60deg 0% 11%) 11%,
        hsl(60deg 0% 11%) 22%,
        hsl(60deg 1% 11%) 33%,
        hsl(60deg 1% 12%) 44%,
        hsl(60deg 1% 12%) 56%,
        hsl(60deg 1% 12%) 67%,
        hsl(60deg 1% 12%) 78%,
        hsl(60deg 1% 12%) 89%,
        hsl(60deg 2% 12%) 100%
    );
}

.icon {
    display: flex;
    justify-content: center;
    flex-basis: 70px;
    flex-shrink: 0;
    margin-top: 1rem;
}

.icon svg {
    width: 2.3rem;
    height: 2.3rem;
    fill: #fff;
    margin: 0;
    padding: 0;
}

.post__right-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post__right-column-heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0.4rem 0.4rem 0 0;
}

.post__container h1 {
    color: #989898;
    margin: 0;
    margin-right: auto !important;
    font-size: 0.8rem;
    align-self: flex-end;
    padding-bottom: 0.1rem;
}

.post__container button {
    margin: 0;
    width: 1.7rem;
    height: 1.7rem;
    padding: 0.2rem 0 0.2rem 0;
    outline: none;
    border: none;
    background-color: inherit;
    fill: #989898;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s;
}

.post__container button:hover {
    fill: #0a0c0a;
    border-radius: 0.5rem 0.5rem 0px 0px;
}

.post__container button svg {
    width: 1.3rem;
    fill: inherit;
}

.post__divider {
    width: 95%;
    /* background-color: #1d1d1d; */
    background-color: #302c2c;
    height: 1px;
    margin-top: 0.4rem;
    margin-bottom: 0.6rem;
}

.post__container p {
    font-size: 0.9rem;
    margin: 0;
    white-space: pre-line;
    margin-right: 1rem;
}

.post__pencil-icon {
    height: 2rem;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    margin-right: 0.1rem !important;
}

.post__pencil-icon:hover {
    border-radius: 0.5rem !important;
    background-color: var(--color4);
}

.dropdown-parent {
    position: relative;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.dropdown-parent:hover {
    border-radius: 0.5rem 0.5rem 0px 0px !important;
    background-color: var(--color4);
}

.dropdown-parent:hover svg {
    fill: #0a0c0a;
    transition: 0.1s !important;
}

.dropdown-parent:hover > .dropdown-content,
.dropdown-content:hover {
    visibility: visible !important;
    opacity: 1;
}

.dropdown-content {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
    position: absolute;
    right: 0;
    margin: 0;
    cursor: pointer;
    border-radius: 0.5rem 0px 0.5rem 0.5rem !important;
    background-color: var(--color4);
    padding: 0;
    width: 10rem;
}

.dropdown-content li {
    padding: 0.4rem 0 0.4rem 1rem;
    list-style-type: none;
    color: #d1c8c8;
    font-size: 1rem;
    font-weight: 400;
    transition: 0.2s;
}

.dropdown-content li:hover {
    cursor: pointer;
    color: #141212;
    background-color: #2e2b28;
}

.dropdown-content li:hover:first-child {
    border-top-left-radius: 0.5rem;
}

.dropdown-content li:hover:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
