@import "../../../constants/colors.css";

.upcoming-tweets__container {
    margin-left: 1rem;
    padding-bottom: 0;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
}

.upcoming-tweets__container h1 {
    margin: 0 0 1rem 0;
    font-size: 1.25rem;
    font-weight: 400;
}

.upcoming-tweets__posts-container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.upcoming-tweets__bottom-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
