@import "../constants/colors.css";

.nav-container {
    background-color: var(--color1);
    color: #fff;
    width: 15vw;
    min-width: 300px;
    padding: 1.5vw 1.7vw 1.5vw 1.7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-container {
    display: flex;
    flex-direction: row;
    margin: 0 0 2vw 0;
}

.profile-img {
    width: 28%;
    border-radius: 9999px;
}

.user-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 15px;
}

h1 {
    font-weight: 600;
    font-size: 1.6667rem;
    margin: 0;
}

h2 {
    font-size: 1.1rem;
    font-weight: 100;
    margin: 0;
    color: #7e7e7e;
}

.footer h3 {
    color: #5a5a5a;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 0 0 0;
}

.footer p {
    color: #3a3a3a;
    font-size: 0.7rem;
    margin: 0;
}
