@import "../constants/colors.scss";

.dashboard__components-container {
    display: flex;
    max-height: 120em;
    flex: 1;
}

.dashboard__components-grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(16, 1fr);
    width: 100%;
    grid-gap: 0.8rem;
    padding: 1.6rem 1.6rem 1.6rem 0;
}

.dashboard__statistics-header {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
}
.dashboard__main-container {
    grid-column: 1 / 3;
    grid-row: 5 / -1;
}
.dashboard__notifications {
    grid-column: 3 / 4;
    grid-row: 1 / 7;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.dashboard__pie-charts {
    grid-column: 3 / 4;
    grid-row: 7 / 11;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.dashboard__bar-graphs {
    grid-column: 3 / 4;
    grid-row: 11 / 17;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background: var(--color1); /* Optional: show position indicator */
}

.dashboard__right-column-item {
    flex: 1;
    padding: 1rem;
}

/* ======= Tablet View  ======= */
@media (max-width: 95em) {
    .dashboard__components-grid-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: 1.2fr 3fr 1.2fr 1.8fr;
    }

    .dashboard__components-container {
        max-height: 150em;
    }

    .dashboard__statistics-header {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    .dashboard__main-container {
        grid-column: 1 / 3;
        grid-row: 2;
    }
    .dashboard__notifications {
        grid-column: 1 / 2;
        grid-row: 3 / -1;
    }
    .dashboard__pie-charts {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    .dashboard__bar-graphs {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
}

/* ======= Collapse Navigation Bar into Tablet View  ======= */
@media (max-width: 82em) {
    .dashboard__components-container {
        margin-left: 80px;
    }
}

@media (max-width: 62.5em) {
    .dashboard__components-container {
        max-height: 180em;
    }

    .dashboard__components-grid-container {
        grid-template-rows: 0.5fr minmax(0, 2fr) 1fr 0.5fr 1fr;
        padding: 0.8rem 0.8rem 0.8rem 0;
    }

    .dashboard__notifications {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
    .dashboard__pie-charts {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
    .dashboard__bar-graphs {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
    }
}

@media (max-width: 62.5em) and (orientation: portrait) {
    .dashboard__components-container {
        max-height: 180em;
    }
}

/* ======= Navigation Bar into Mobile View  ======= */
@media (max-width: 30em) {
    .dashboard__components-grid-container {
        grid-template-rows: 0.3fr minmax(0, 1.5fr) 0.5fr 0.5fr 0.5fr;
        padding: 0.6rem;
    }

    .dashboard__components-container {
        margin-left: 0px;
    }
}
