@import "../constants/colors.scss";

.queue__container {
    width: 100%;
    padding: 1rem;
}

.queue__posts-container {
    display: grid;
    gap: 10px;
    border-radius: 15px;
    padding: 13px;
}
