@import "../../../constants/colors.css";

.item__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.item__upper-items {
    display: flex;
    flex-direction: row;
    /* justify-content: stretch; */
    /* flex-shrink: 1; */
    /* height: 100%; */
    flex: 1;
}

.item__container h2 {
    font-weight: 400;
    font-size: 1.6rem;
    color: #fff;
    margin-top: auto;
    margin-bottom: 0;
    line-height: 1.1;
    margin: 0 1rem 0 0;
    align-self: flex-end;
}

.item__graph-container {
    height: 100%;
    width: 100%;
    align-self: flex-end;
    padding-bottom: 0.4em;
}

.item__bottom-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.item__container h1 {
    font-weight: 400;
    color: #9f9696;
    font-size: 1.3rem;
    margin: 0;
    line-height: 1.1;
}

.item__container h3 {
    font-weight: 400;
    font-size: 1rem;
    color: #9f9696;
    margin: 0;
}

@media (max-width: 62.5em) {
    .item__container {
        flex: 0 0 20rem;
    }
}
