.statistics-header__curved-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding-left: 1rem;
}

.statistics-header__items-container {
    display: flex;
    flex: 1;
}

@media (max-width: 62.5em) {
    .statistics-header__items-container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    ::-webkit-scrollbar {
        display: none; /* hide scrollbar on chrome */
    }
}
