//v2

@import "../../constants/colors.scss";

.nav-button__button {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 0.7rem 0.5rem 1.1rem 0.5rem;
    height: 56px;
    width: 56px;
    // width: 100% !important;
    // background-color: green !important;
    border-radius: 17px;

    // &:active {
    //     border-radius: 17px !important;
    // }
}

.nav-button__chevron {
    display: none !important;
}

.nav-button__text {
    display: none;
}

// .active:hover div,
.active:hover .nav-button__chevron,
.active:hover .nav-button__button {
    background-color: var(--color5);
    // border-radius: 17px;
}

// .nav-button__button {
//     // padding: 1rem;
//     height: 60px;
//     max-width: 285px;
//     border-radius: 15px;
//     margin-bottom: 0.4rem;
//     display: flex;
//     align-items: center;
//     transition: 0.3s;
// }

// .nav-button__font {
//     color: #d1c8c8;
//     font-size: 1.3rem;
//     text-decoration: none;
// }

// /* On hover if active: */
// .active:hover div,
// .active:hover .nav-button__chevron,
// .active:hover .nav-button__button {
//     color: #121412;
//     fill: #121412 !important;
//     background-color: #2e2b28;
// }

.nav-button__font p {
    padding-bottom: 1px;
}

.nav-button__font:hover {
    color: #0a0c0a;
}

.nav-button__button:hover {
    background-color: var(--color5);
}

.nav-button__icon {
    width: 1.5rem;
    display: flex;
    transition: 0.3s;
    fill: #d1c8c8;
    // background-color: red !important;
    margin: 0;
}

.nav-button__button:hover .nav-button__icon {
    fill: #0a0c0a;
}

.active,
.active div,
.active .nav-button__chevron {
    background-color: var(--color5);
    color: #0a0c0a;
    fill: #0a0c0a;
    border-radius: 17px;
    // fill: #0a0c0a !important;
}

.nav-button__chevron {
    // width: 1.2vw;
    // height: auto;
    // fill: inherit;
    // transition: 0.3s;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    margin-left: auto;
    display: none;
}

// .tablet {
//     display: none;
// }

/* ======= Mobile View ======= */
@media (min-width: 30em) {
    // .nav-button__button {
    //     padding: 0.7rem 0.5rem 1.1rem 0.5rem;
    //     height: 0.7rem;
    //     width: 100% !important;
    //     border-radius: 0px;
    //     background-color: green !important;
    // }

    // .nav-button__font {
    //     padding-left: 11px;
    //     padding-right: 11px;
    //     border-radius: 13px;
    // }

    // .active:hover div,
    // .active:hover .nav-button__chevron,
    // .active:hover .nav-button__button {
    //     background-color: var(--color5);
    // }

    .tablet {
        display: inline-block;
    }

    .nav-button__button {
        flex-direction: column;
        // height: 1.8rem;
        // padding-left: 0 !important;
        // padding-right: 0 !important;
        // background-color: red !important;
    }

    .nav-button__icon {
        // margin: 0 12px 0 5px;
    }

    .nav-button__button:hover .nav-button__chevron {
        fill: #0a0c0a;
        display: block;
    }

    .active,
    .active div,
    .active .nav-button__chevron {
        background-color: var(--color5);
        color: #0a0c0a;
        fill: #0a0c0a;
        border-radius: 17px;
    }
}

/* ======= Tablet View  ======= */
@media (min-width: 82em) {
    .nav-button__button {
        // padding: 0.9rem 0.7rem 0.9rem 0.7rem;
        // padding: 0.9rem 0.7rem 0.9rem 14px !important;
        padding: 0 17px;
        // border-radius: 1.2rem;
        // padding-left: 14px !important;
        height: 60px;
        // width: 285px;
        width: 100%;
        border-radius: 15px;
        margin-bottom: 0.4rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        transition: 0.3s;
        box-sizing: border-box;
    }
    a {
        text-decoration: none !important;
    }

    .nav-button__text {
        display: inline-block;
        font-size: 1.3rem;
        color: #d1c8c8;
        margin: 0;
    }

    .nav-button__icon {
        margin-right: 12px;
    }

    .active,
    .active div,
    .active .nav-button__chevron {
        // background-color: var(--color5);
        color: #0a0c0a;
        fill: #0a0c0a;
        border-radius: 17px;
        background-color: var(--color5);
    }

    /* On hover if active: */
    .active:hover div,
    .active:hover .nav-button__chevron,
    // .active:hover .nav-button__text,
    .active:hover .nav-button__button {
        color: #121412;
        fill: #121412 !important;
        // background-color: #2e2b28;
        filter: brightness(90%);
    }

    // .nav-button__font {
    //     font-size: 1.3rem;
    //     padding-left: 11px;
    //     padding-right: 11px;
    //     border-radius: 13px;
    // }

    // .nav-button__font {
    //     padding-left: 11px;
    //     padding-right: 11px;
    //     border-radius: 13px;
    // }

    .active .nav-button__chevron {
        display: inline-block !important;
    }

    .nav-button__button:hover {
        .nav-button__chevron {
            display: inline-block !important;
        }
    }
}

@media (min-width: 95em) {
    .nav-button__button {
        // padding: 1rem;
        margin-bottom: 0.4rem;
        display: flex;
        align-items: center;
        transition: 0.3s;
        background-color: red !important;
    }

    .nav-button__font {
        color: #d1c8c8;
        font-size: 1.3rem;
        text-decoration: none;
    }
}
