@import "../../constants/colors.scss";

.nav-bar__main-container {
    width: 285px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-start;
    padding: 1.6rem 2.2rem 1.6rem 2.2rem;
    color: #fff;
    box-sizing: content-box !important;
}

.nav-bar__user-data-box {
    display: flex;
    flex-direction: row;
    margin: 0 0 3.5rem 0;
}

.nav-bar__profile-img {
    width: 65px;
    height: 65px;
    border-radius: 999px;
}

.nav-bar__username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.nav-bar__main-container h1 {
    font-size: 20pt;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.nav-bar__main-container h2 {
    font-family: "Montserrat";
    font-size: 16pt;
    font-weight: 100;
    margin: 0;
    color: #7e7e7e;
}

.nav-bar__footer {
    margin-top: auto;
}

.nav-bar__footer h3 {
    font-family: "Montserrat";
    font-size: 1.1rem;
    font-weight: 500;
    color: #5a5a5a;
    margin: 0.2rem 0 0 0;
}

.nav-bar__footer p {
    font-family: "Montserrat";
    font-size: 0.7rem;
    color: #3a3a3a;
    margin: 0;
}

.nav-bar__logout-button {
    border: 0;
    padding: 0.45rem 1rem 0.45rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.4rem;
    width: 7rem;
    height: 2.8rem;
    transition: 0.2s ease-in-out;
    background-color: var(--color4);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--color3);
}

.nav-bar__logout-button:hover {
    background-color: #2e2b28;
}

.nav-bar__logout-button svg {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 30px;
}

@media (max-width: 95em) {
    .nav-bar__main-container {
        width: 285px;
        padding: 1.6rem 1.5vw 1.6rem 1.5vw;
        display: flex;
    }

    .nav-bar__main-container h1 {
        font-size: 1.5rem;
    }

    .nav-bar__main-container h2 {
        font-size: 1rem;
    }

    .nav-bar__profile-img {
        width: 65px;
        height: 65px;
    }

    .nav-bar__user-data-box {
        margin-bottom: 1.5rem;
    }
}

/* ======= Collapse Navigation Bar into Tablet View  ======= */
@media (max-width: 82em) {
    .tablet {
        display: none;
    }

    .nav-bar__main-container {
        width: 80px;
        min-width: 80px;
        padding: 0;
        top: 0;
    }

    .nav-bar__upper-container {
        top: 0;
        position: fixed;
    }

    .nav-bar__user-data-box {
        margin-bottom: 0;
        width: 80px;
        min-width: 80px;
    }

    .nav-bar__img-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    .nav-bar__profile-img {
        padding: 0.2rem;
    }

    .nav-bar__nav-container {
        padding: 0 0.7em;
        top: 100px;
        position: fixed;
    }
}

/* ======= Navigation Bar into Mobile View  ======= */
@media (max-width: 30em) {
    .nav-bar__main-container {
        width: 100%;
        height: auto;
        top: unset;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: fixed;
        margin-right: auto;
        z-index: 10;
    }

    .nav-bar__nav-container {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1.1rem 0.5rem 1.1rem;
        margin: 0 0.4rem 0.4rem 0.4rem;
        border-radius: 1.3rem;
        background-color: #252424dc;
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
        top: unset;
        bottom: 0;
    }

    .nav-bar__upper-container {
        display: none;
    }
}
