@import "../../constants/colors.css";

.curved-container {
    background-color: var(--color2);
    color: #fff;
    /* padding: 1rem; */
    /* margin: 0.8rem 0.8rem 0 0; */
    margin: 0;
    border-radius: 12px;
}
