@import "../../constants/colors.css";

.dropdown__container {
    position: relative;
    display: inline-block;
    min-width: 30%;
}

.dropdown__button {
    width: 100%;
    height: 100%;
    padding-left: 1.1rem;
    padding-right: 0.18rem;
    display: flex;
    outline: none;
    /* color: #0a0c0a;
    font-size: 1.3rem;
    font-weight: 500; */
}

.dropdown__button p {
    color: #0a0c0a;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    transition: 0.2s;
}

.dropdown__button p:hover {
    color: #1a1818;
}

.dropdown__items-drawer {
    flex: 1;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--color4);
    padding-bottom: 0.5rem;
    border-radius: 0px 0px 0.7rem 0.7rem;
}

.dropdown__items-drawer li {
    width: 100%;
    list-style-type: none;
    display: absolute !important;
    color: #d1c8c8;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.5rem 0 0.5rem 1.5rem;
}

.dropdown__items-drawer li:hover {
    cursor: pointer;
    color: #141212;
}

.dropdown__items-drawer hr {
    border: none;
    width: 75%;
    margin: 0 0 0 12.5%;
    border-bottom: 1px solid #221f1f;
}

.active {
    display: block;
}

.dropdown__button--active {
    border-radius: 0.7rem 0.7rem 0px 0px !important;
}

.dropdown__chevron-selector {
    min-width: 22%;
    height: 90%;
    border-radius: 0.6rem;
    margin: 0 0 0 1.5rem;
    padding: 0 0 0 0.1rem;
    transition: 0.2s;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.dropdown__chevron-selector:hover {
    background-color: #272422;
}

.dropdown__button--active .dropdown__chevron-selector {
    background-color: #272422;
    transition: 0.1s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dropdown__button--active .dropdown__chevron-selector:after {
    transition: 0.1s;
}
