@import "../../constants/colors.css";

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    background: rgba(0, 0, 0, 0.75);
}

.modal__container {
    height: 100% !important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: fixed;
}

.modal__box {
    height: 60vh;
    width: 30vw;
    z-index: 20;
    /* overflow: hidden; */
    background-color: var(--color3);
    border-radius: 1rem;
    /* z-index: 11; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.modal__box h2 {
    color: #fff;
    font-weight: 400;
    font-style: normal;
}

.modal__form {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.modal__user-data-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.modal__profile-pic {
    height: 4rem;
    width: 4rem;
    border-radius: 999px;
    background-color: grey;
}

.modal__user-data-container h1 {
    margin: 0;
    padding: 0;
}

.modal__close-button {
    margin-left: auto;
    border: none;
    cursor: pointer;
}

.modal__bottom-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal__delete-tweet-button {
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #8d2525;
    color: #000000;
    padding: 0 1rem 0 1rem;
    font-size: 1rem;
    transition: 0.2s;
}

.modal__delete-tweet-button:hover {
    background-color: #c24343;
    color: #501515;
}

.modal__button-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: var(--color4);
}

.modal__button-dropdown svg {
    width: 2rem;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
