.dashboard__container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.dashboard__horizontal-container {
    max-width: 150em;
    flex: 1;
    display: flex;
    flex-direction: row;
}

@media (max-width: 95em) {
    .dashboard__container {
        /* height: 160vh; */
        height: 250vh;
    }
}

@media (max-width: 62.5em) {
    .dashboard__container {
        height: 300vh;
    }
}
