@import "../constants/colors.css";

.nav-button {
    padding: 1rem;
    height: 1.8vw;
    border-radius: 23px;
    margin-top: 0.8vw;
    display: flex;
    align-items: center;
}

.nav-font {
    color: #d1c8c8;
    font-size: 1.4rem;
    text-decoration: none;
}

.nav-font p {
    padding-bottom: 1px;
}

.nav-font:hover,
.nav-font:active,
.nav-font.active {
    color: #0a0c0a;
}

.nav-button:hover,
.nav-button:active,
.nav-button.active {
    background-color: var(--color4);
}

.icon {
    width: 1.2vw;
    display: flex;
    margin: 0 12px 0 5px;
    fill: #d1c8c8;
}

.icon:active,
.icon a.active {
    color: #d1c8c8;
}

.nav-button:hover .icon {
    fill: #0a0c0a;
}

.nav-button:hover .chevron {
    fill: #0a0c0a;
    display: block;
}

.active {
    background-color: red;
}

.chevron {
    width: 1.2vw;
    height: auto;
    fill: #d1c8c8;
    margin-left: auto;
    display: none;
}
