@import "../../constants/colors.css";

.upload-image__container {
    justify-self: flex-end;
    height: 4vh;
    border-radius: 12px;
    margin: 0 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5.5vh;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    background-color: var(--color3);
    color: #3a3a3a;
    fill: #3a3a3a;
}

.upload-image__container:hover {
    background-color: #000000;
    color: #4e4848;
    fill: #4e4848;
}

.upload-image__container h1 {
    margin: 0;
    padding: 0 10px 5px 10px;
    font-weight: 400;
    font-size: 0.8rem;
}

.upload-image__container svg {
    width: 1.7vw;
    height: 1.7vw;
    margin-bottom: 3px;
}
