@import "../../constants/colors.scss";

.upload-image__container {
    justify-self: flex-end;
    border-radius: 12px;
    margin: 0.5rem 1rem 1rem 0;
    padding: 0.4rem 1rem 0.4rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    background-color: var(--color3);
    color: #3a3a3a;
    fill: #3a3a3a;
}

.upload-image__container:hover {
    background-color: #000000;
    color: #4e4848;
    fill: #4e4848;
}

.upload-image__container h1 {
    margin: 0 !important;
    /* font-weight: 400; */
    font-size: 0.6rem !important;
}

.upload-image__container svg {
    width: 1.2rem;
    height: 1.2rem;
    margin-bottom: 2px;
}
